body.lock {
    overflow: hidden;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #4d5650d1;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all .8s ease 0s;
}

.popup.open .popup__content {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    opacity: 1;
}

.popup.open {
    opacity: 1;
    visibility: visible;
}

.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup__content {
    background-color: #1c1c22;
    color: #000;
    max-width: 430px;
    padding: 30px;
    position: relative;
    transition: all .8s ease 0s;
    opacity: 0;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popup__close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.popup__close img {
    width: 20px;
}

.popup__title {
    font-size: 1.5rem;
    text-align: center;
    color: white;
    margin: 0 10px 1em 10px;
}
